@page
@model Projekt2.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Użytkownik";
}

@if (!String.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success">
        @Model.Message
    </div>
}

<h2>Użytkownik</h2>

<table class="table">
    <thead>
        <tr>
            <th>Login</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>
                    <a href="@Url.Page("SzczegolyUsers", new { userId = user.Id })" class="btn btn-primary">Pokaż szczegóły</a>
                </td>
                <td>
                    @if (user.Id != 1 && user.Username != "admin")
                    {
                        <form method="post">
                            <input type="hidden" name="userId" value="@user.Id" />
                            <button type="submit" asp-page-handler="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger">Usuń</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
