@page
@using Projekt2.Helper;
@using Projekt2.Models;
@model Projekt2.Pages.ProductsViewModel
@{
	ViewData["Title"] = "Produkty";

    Func<string, int, string> TruncateText = (text, maxLength) =>
    {
        if (text.Length > maxLength)
        {
            return text.Substring(0, maxLength) + "...";
        }
        return text;
    };

    <div class="row justify-content-center mb-5">
        <div class="col-lg-6">
            <form method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label for="productCategory" class="input-group-text">Wybierz kategorię</label>
                    </div>
                    <select id="productCategory" class="form-control" asp-for="ProductsView.CategoryId">
                        <option value="">Wszystkie</option>
                        @foreach (var category in Model.Categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <button type="submit" class="btn btn-primary">Szukaj</button>
                </div>
            </form>
        </div>
    </div>

    <div class="text-center mb-3">
        @if (!string.IsNullOrEmpty(Model.NoProductsMessage))
        {
            <p>@Model.NoProductsMessage</p>
        }
    </div>


    <div class="row">
        @foreach (Product product in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/images/@product.ImagePath" class="card-img-top" alt="Obrazek">
                    <div class="card-body">
                        <h5 class="card-title">@TruncateText(product.Name, 19)</h5>
                        <div class="card-rating">
                            @Html.Raw(RatingHelper.GenerateStars(product.AverageRating))
                        </div>
                        <p class="card-text">@TruncateText(product.Description, 88)</p>
                        @*<p class="card-text">Cena: @product.Price zł</p>*@
                        <p class="card-text">
                            Cena:
                            @if (product.Promotion != null)
                            {
                                var discountedPrice = product.Price * (1 - product.Promotion.DiscountPercent / 100m);
                                <del>@product.Price.ToString("F2") zł</del> <strong>@discountedPrice.ToString("F2") zł</strong>
                            }
                            else
                            {
                                <span>@product.Price.ToString("F2") zł</span>
                            }
                        </p>
                        <a asp-page="/ProductCard" asp-route-id="@product.Id" class="btn btn-primary">Zobacz</a>
                    </div>
                </div>
            </div>
        }
    </div>

    

}
