@page
@using Projekt2.Helper;
@model Projekt2.Pages.Kategorie.CategoryProductsModel
@{
	ViewData["Title"] = "Produkty: " + Model.Category.Name;

    Func<string, int, string> TruncateText = (text, maxLength) =>
    {
        if (text.Length > maxLength)
        {
            return text.Substring(0, maxLength) + "...";
        }
        return text;
    };
}

<p>
    <a href="/Index" id="sciezka">Strona główna</a> &gt; <a href="/ProductsView" id="sciezka">Produkty</a> &gt; @Model.Category.Name
</p>

@if (Model.Products.Any())
{
    <h2>Produkty w kategorii @Model.Category.Name</h2>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <img src="~/images/@product.ImagePath" class="card-img-top" alt="Obrazek">
                    <div class="card-body">
                        <h5 class="card-title">@TruncateText(product.Name, 19)</h5>
                        <div class="card-rating">
                            @Html.Raw(RatingHelper.GenerateStars(product.AverageRating))
                        </div>
                        <p class="card-text">@TruncateText(product.Description, 88)</p>
                        @*<p class="card-text">Cena: @product.Price zł</p>*@
                        <p class="card-text">
                            Cena:
                            @if (product.Promotion != null)
                            {
                                var discountedPrice = product.Price * (1 - product.Promotion.DiscountPercent / 100m);
                                <del>@product.Price.ToString("F2") zł</del> <strong>@discountedPrice.ToString("F2") zł</strong>
                            }
                            else
                            {
                                <span>@product.Price.ToString("F2") zł</span>
                            }
                        </p>
                        <a asp-page="/ProductCard" asp-route-id="@product.Id" class="btn btn-primary">Zobacz</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="text-center mb-3">
        <h4>Brak produktów w kategorii @Model.Category.Name</h4>
    </div>
}

<style>
    #sciezka {
        color: black;
    }

    #sciezka:hover {
            text-decoration: underline;
    }
</style>